<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.bbloomf.jgabc" version="1.8.54" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chant Tools</name>
    <description>
        GABC Chant Tools available at http://bbloomf.github.io/jgabc/
    </description>
    <author email="bhb123+jgabc@gmail.com" href="http://github.com/bbloomf">
        Benjamin Bloomfield
    </author>
    <content src="propers.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/mipmap-ldpi/icon.png" />
        <icon density="mdpi" src="res/mipmap-mdpi/icon.png" />
        <icon density="hdpi" src="res/mipmap-hdpi/icon.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/icon.png" />
        <preference name="AndroidLaunchMode" value="singleTask" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="20" src="res/ios/Icon-App-20x20@1x.png" width="20" />
        <icon height="40" src="res/ios/Icon-App-20x20@2x.png" width="40" />
        <icon height="60" src="res/ios/Icon-App-20x20@3x.png" width="60" />
        <icon height="29" src="res/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/ios/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="res/ios/Icon-App-29x29@3x.png" width="87" />
        <icon height="40" src="res/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="120" src="res/ios/Icon-App-40x40@3x.png" width="120" />
        <icon height="57" src="res/ios/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="res/ios/Icon-App-57x57@2x.png" width="114" />
        <icon height="60" src="res/ios/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="res/ios/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" src="res/ios/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="res/ios/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" src="res/ios/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/ios/Icon-App-76x76@2x.png" width="152" />
        <icon height="228" src="res/ios/Icon-App-76x76@3x.png" width="228" />
        <icon height="167" src="res/ios/Icon-App-83.5x83.5@2x.png" width="167" />
        <icon height="50" src="res/ios/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="res/ios/Icon-Small-50x50@2x.png" width="100" />
        <icon height="1024" src="res/ios/Icon-1024.png" width="1024" />
    </platform>
    <plugin name="cordova-plugin-insomnia" spec="~4.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="com.borismus.webintent" spec="https://github.com/Initsogar/cordova-webintent.git" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.6.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.6" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
</widget>
