<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.bbloomf.jgabc" version="1.2.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chant Tools</name>
    <description>
        GABC Chant Tools available at http://bbloomf.github.io/jgabc/
    </description>
    <author email="bhb123+jgabc@gmail.com" href="http://github.com/bbloomf">
        Benjamin Bloomfield
    </author>
    <content src="propers.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-insomnia" />
    <!-- cordova plugin add https://github.com/Initsogar/cordova-webintent.git -->
    <!-- cordova plugin add cordova-plugin-inappbrowser -->
    <!--
        Add to activity of android manifest
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="bbloomf.github.io" android:pathPattern="/jgabc" android:scheme="http" />
        </intent-filter>
    -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="www/icon/clear36.png" density="ldpi" />
        <icon src="www/icon/clear48.png" density="mdpi" />
        <icon src="www/icon/clear72.png" density="hdpi" />
        <icon src="www/icon/clear96.png" density="xhdpi" />
        <icon src="www/icon/clear144.png" density="xxhdpi" />
        <icon src="www/icon/clear192.png" density="xxxhdpi" />
        <preference name="AndroidLaunchMode" value="singleTask" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.0.0" />
</widget>
