<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.bbloomf.jgabc" version="1.6.17" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Chant Tools</name>
    <description>
        GABC Chant Tools available at http://bbloomf.github.io/jgabc/
    </description>
    <author email="bhb123+jgabc@gmail.com" href="http://github.com/bbloomf">
        Benjamin Bloomfield
    </author>
    <content src="propers.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-insomnia" />
    <!-- cordova plugin add https://github.com/Initsogar/cordova-webintent.git -->
    <!-- cordova plugin add cordova-plugin-inappbrowser -->
    <!-- cordova plugin add cordova-plugin-x-socialsharing -->
    <!--
        Add to activity of android manifest
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="bbloomf.github.io" android:pathPattern="/jgabc" android:scheme="http" />
        </intent-filter>
    -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
        <preference name="AndroidLaunchMode" value="singleTask" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/Icon-App-20x20@1x.png" width="20" height="20"/>
        <icon src="res/ios/Icon-App-20x20@2x.png" width="40" height="40"/>
        <icon src="res/ios/Icon-App-20x20@3x.png" width="60" height="60"/>
        <icon src="res/ios/Icon-App-29x29@1x.png" width="29" height="29"/>
        <icon src="res/ios/Icon-App-29x29@2x.png" width="58" height="58"/>
        <icon src="res/ios/Icon-App-29x29@3x.png" width="87" height="87"/>
        <icon src="res/ios/Icon-App-40x40@1x.png" width="40" height="40"/>
        <icon src="res/ios/Icon-App-40x40@2x.png" width="80" height="80"/>
        <icon src="res/ios/Icon-App-40x40@3x.png" width="120" height="120"/>
        <icon src="res/ios/Icon-App-57x57@1x.png" width="57" height="57"/>
        <icon src="res/ios/Icon-App-57x57@2x.png" width="114" height="114"/>
        <icon src="res/ios/Icon-App-60x60@1x.png" width="60" height="60"/>
        <icon src="res/ios/Icon-App-60x60@2x.png" width="120" height="120"/>
        <icon src="res/ios/Icon-App-60x60@3x.png" width="180" height="180"/>
        <icon src="res/ios/Icon-App-72x72@1x.png" width="72" height="72"/>
        <icon src="res/ios/Icon-App-72x72@2x.png" width="144" height="144"/>
        <icon src="res/ios/Icon-App-76x76@1x.png" width="76" height="76"/>
        <icon src="res/ios/Icon-App-76x76@2x.png" width="152" height="152"/>
        <icon src="res/ios/Icon-App-76x76@3x.png" width="228" height="228"/>
        <icon src="res/ios/Icon-App-83.5x83.5@2x.png" width="167" height="167"/>
        <icon src="res/ios/Icon-Small-50x50@1x.png" width="50" height="50"/>
        <icon src="res/ios/Icon-Small-50x50@2x.png" width="100" height="100"/>
    </platform>
    <engine name="android" spec="~6.0.0" />
</widget>
