svg.bg-blur {
  height: 0;
  width: 0;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  padding-top: 4px;
  background: white;
  border-bottom: 1px solid #ddd;
}
.link {
  cursor: pointer;
}
label {
  font-weight: 400;
}
select[disabled] {
  color: #8c8c8c;
}
a:not([href]),
a:not([href]):hover {
  color: #000;
  text-decoration: none;
}
.ol {
  text-decoration: overline;
}
button.remove-modifications {
  display: none;
}
[part].full.modified button.remove-modifications {
  display: inline;
}
textarea {
  padding:0;
  width:100%;
  min-height:100px;
  box-sizing: border-box;
  display: none;
}
.asperges-verses,
.chant-preview {
  display: none;
}
[part].showing-chant .asperges-verses,
[part].showing-chant .chant-preview{
  display: block;
}
.verses,
.asperges-verses {
  font-size: 120%;
  font-family: 'Crimson Text';
}
.verses .rubric {
  font-size: inherit;
  white-space: nowrap;
  padding-left: 10pt;
}
.red {
  color: #d00;
}
.asperges-verses .versiculum {
  font-size: 120%;
  color: #d00;
  line-height: 0;
}
.asperges-verses .rubric {
  font-size: inherit;
  font-style: italic;
  color: #d00;
}
.chant-title {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
  font-family: 'Crimson Text';
  text-transform: uppercase;
  margin: 0.75em 0 -0.5em;
  line-height: 1;
}
div[part] > div.block:first-child {
  background: white;
  position: sticky;
  top: -1px;
  padding: 1px 0 0;
}
text.aboveLinesText {
  fill: #d00!important;
}
.rubric {
  font-family: 'Crimson Text';
  font-size: 120%;
  font-style: italic;
  color: #d00;
  margin: 0.5em 0 0.25em;
}
.rubric.after {
  margin-top: 0;
}
.rubric .quote {
  font-style: normal;
  color: #000;
}
.rubric .bracket {
  font-style: normal;
}
.preview-container {
  padding: 4px 0;
}
.chant-parent{
  width:100%;
}
.chant-preview>svg.ChantScore {
  width: 100%;
  page-break-inside: avoid;
}
select.sel-style{
  margin:1px 0 0;
}
select {
  max-width: 100%;
}
label.sel-label{
  margin-top:2px;
}
.right {
  float:right;
}
.block {
  clear: both;
}
.block.right {
  float: none;
}
.show-gabc div.block {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding-right: 2px;
}
.show-gabc div.block.right {
  padding-left: 2px;
  padding-right: 0;
  float: right;
}
.show-gabc textarea {
  display: inline;
}
div[part].show-gabc {
  border:0;
}
.show-gabc .chant-parent {
  border:1px solid #aaa;
  padding: 0 4px;
  min-height:119px;
}
div[part] {
  margin-top: 4px;
  clear: both;
}
.hide-chant .chant-preview {
  display: none;
}
.centered-heading {
  font-weight: 600;
  text-align: center;
}
.psalm-editor {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  font-family: 'Crimson Text', serif;
  font-size: 120%;
}
text.annotation {
  font-weight: 600;
}
div.chant-context {
  display: inline-block;
}
[part] use[source-index],
[part] text[source-index] {
  cursor: pointer;
}
[part].ordinary:not(.show-gabc) use[source-index],
[part].ordinary:not(.show-gabc) text[source-index] {
  cursor: default;
}
button.toggle-mediant {
  color: #d00!important;
}
button.toggle-mediant::before {
  content: '\a0';
  position: relative;
}
button.toggle-mediant[state="new-verse"]::before {
  content: 'v';
  font-family: versiculum;
  font-size: 120%;
  line-height: 0;
  top: -2px;
}
button.toggle-mediant[state="mediant"]::before {
  content: '*';
}
button.toggle-mediant[state="flex"]::before {
  content: '†';
  top: -2px;
}
/*.cordova-only {
  display: none;
}*/

#mediaControls.offscreen {
  transform: translateY(30px);
  opacity: 0;
}
#mediaControls {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  height: 30px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 100%!important;
  width: 100%;
  min-width: 100%;
  transform: translateY(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#mediaControls > * {
  margin: auto;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
#mediaControls > * > *:first-child {
  margin-left: 0;
}
#mediaControls > * > *:last-child {
  margin-right: 0;
}
#mediaControls .volume {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 4px 10px;
}
#mediaControls .volume>.progress {
  width: 100px;
  margin: 0 0 0 5px;
}
#mediaControls .btn.with-next {
  border-right: none;
  padding-right: 5px;
}
#mediaControls .btn.with-next+.btn {
  border-left: none;
  padding-left: 0;
}

@media(min-width: 500px) {
  .verses,
  .asperges-verses {
    font-size: 3.96vw; /* 19.2 / ((500 - 16) * 0.01) */
  }
  .show-gabc .verses,
  .show-gabc .asperges-verses {
    font-size: 1.98vw;
  }
}
@media(min-width: 1262px) { /* (100 * (50 / 3.96)) */
  body {
    max-width: 1258px;
    margin: auto;
  }
  .verses,
  .asperges-verses {
    font-size: 50px;
  }
}
